{% extends 'admin/admintop.html' %}

{% block content %}

<div class="content" >

   

            <div class="container">
                <h3 class="alert alert-dark text-center mb-5" style="width: 650px;">
                    Add Category Details
                </h3>
                    <form method="post" action="{% url 'add_category' %}" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="text" name="categoryname" class="form-control mt-3" placeholder="Enter Category Name">
                        <input type="file" name="file" accept="image/*" class="form-control mt-3  " style="width: 650px;">
                        <button type="submit" class="btn btn-dark mt-3 " style="width: 650px;">Submit</button>
                    </form>

                    <div class="col-md-4">
                        {% for message in messages %}
                        <h5>
                            <div class="alert alert-success mt-5 text-center" style="width: 620px;">
                                {{ message }}
                            </div>
                        </h5>
                            {% endfor %}
                    </div>
            </div>
        </body>
        <style>
            .container{
                position: absolute;
                left: 30%;
                top: 27%;
            }
            input[type=text],[type=number]{
                width: 650px;
            }
            /* .btn{
                width: 600px;
            } */
        </style>
        </html>

</div>

{% endblock %}