{% extends 'admin/admintop.html' %}

{% block content %}

<div class=" content">

    <div class=" content">


        <div class="container">
            <h3 class="alert alert-dark text-center mb-5 w-50">
                Edit Product Details
            </h3>
            <form method="post" action="/edit_product/{{ product.id }}"  enctype="multipart/form-data">
                {% csrf_token %}

                <label class="mt-3" for="css">Category</label>
                <select class="form-control  " name="select" style="width: 650px;">
                    {% for i in category %}

                    <option value="{{ i.id }}">{{ i.category_name }}</option>

                    {% endfor %}
                </select>

                <label class="mt-3" for="">Product Name</label>
                <input type="text" name="productname" class="form-control " value="{{ product.product_name}}">
                <label class="mt-3" for="">Product Description</label>
                <input type="text" name="productdescription" class="form-control " value="{{ product.product_description}}">
                <label class="mt-3" for="">Product Price</label>
                <input type="number" name="Productprice" class="form-control " value="{{ product.product_price}}">

                <label class="mt-3" for="css">Upload Photo</label><br>

                {% if product.product_image %}
                <img src="{{ product.product_image.url }}" alt="" width="80rem"><br>
                <input type="file" name="file" accept="image/*" class="form-control " style="width: 650px;">
                {% else %}
                <input type="file" name="file" accept="image/*" class="form-control " style="width: 650px;">
                {% endif %} 


                <button type="submit" class="btn btn-dark mt-3 " style="width: 650px;">Submit</button>
            </form>
        </div>
        </body>
        <style>
            .container {
                position: absolute;
                left: 30%;
                top: 27%;
            }

            input[type=text],
            [type=number],
            [type=date] {
                width: 650px;
            }

            #qwerty {
                width: 650px;
            }

            /* .btn{
            width: 600px;
        } */
        </style>

        </html>



    </div>

</div>

{% endblock %}