{% extends 'admin/admintop.html' %}

{% block content %}
{% load static %}

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("{% static 'images/bg4.webp' %}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    div.part3 {
        height: calc(100% - <height_of_navigation_bar>);
        /* Add any other styles you need for div.part3 */
    }
</style>

<div class=" content part3" >
    
    
                <div class="container">
                    <h3 class="alert alert-dark text-center mb-5 w-50">
                        Edit Category
                    </h3>
                        <form method="post" action="/edit_category/{{ category.id }}">
                            {% csrf_token %}
                            <label for="">Category Name</label>
                            <input type="text" name="categoryname" class="form-control " value="{{ category.category_name}}">
                            <label class="mt-3" for="css">Upload Photo</label><br>
    
                            {% if category.category_image %}
                            <img src="{{ category.category_image.url }}" alt="" width="80rem"><br>
                            <input type="file" name="file" accept="image/*" class="form-control " style="width: 650px;">
                            {% else %}
                            <input type="file" name="file" accept="image/*" class="form-control " style="width: 650px;">
                            {% endif %} 

                            <button type="submit" class="btn btn-dark mt-3 " style="width: 650px;">Submit</button>
                        </form>
                </div>
            </body>
            <style>
                .container{
                    position: absolute;
                    left: 30%;
                    top: 27%;
                }
                input[type=text],[type=number],[type=date]{
                    width: 650px;
                }
                #qwerty{
                    width: 650px;
                }
                /* .btn{
                    width: 600px;
                } */
            </style>
            </html>
    
   

</div>

{% endblock %}