{% extends 'admin/admintop.html' %}

{% block content %}
{% load static %}

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("{% static 'images/bg4.webp' %}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    div.part3 {
        height: calc(100% - <height_of_navigation_bar>);
        /* Add any other styles you need for div.part3 */
    }
    .table-responsive {
    width: 100%;
    overflow-x: auto;
}
</style>

<div class=" container index-body part3" style="padding-top: 150px;">

    

            <div class="container ">
                <h3 class="alert alert-dark text-center text-dark mb-5">
                    CUSTOMER DETAILS
                </h3>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-dark table-hover text-center text-white" >
                            <thead>
                                <tr>
                                    <th>FIRST NAME</th>
                                    <th>LAST NAME</th>
                                    <th>EMAIL</th>
                                    <th>ADDRESS</th>
                                    <th>PHONE NUMBER</th>
                                    <th>ACTION</th>
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in customers %}
                                <tr>
                                    <td>{{ p.first_name}}</td>
                                    <td>{{ p.last_name}}</td>
                                    <td>{{ p.email}}</td>
                                    <td>{{ p.address}}</td>
                                    <td>{{ p.phone}}</td>
                                    <td>
                                        <a class="btn btn-light btn-outline-dark" href="{% url 'delete_user' p.id %}"><i class="fas fa-trash"></i></a>
                                    </td>
                                   
                                     
                                </tr>
                                {% endfor %}
                            </tbody> 
                            </table>
                    </div>
                </div>
            </div>

        
</div>

{% endblock %}