<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>E-Commerce</title>
    <link rel="icon" href="{% static 'images/icon.jpg' %}" type="image/icon type">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ca2474264d.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class=" " style="position: fixed; z-index: 1; width: 100%; ">

        <nav class="navbar navbar-expand-lg navbar-light bg-info ">
            <!-- <img src="{% static 'images/title.png' %}" alt="" width="260px"> -->
           <h1 class="head text-white" >ECom</h1>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon " style="width: 1em;"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link text-white m-2" href="{% url 'index' %}"> <i class="fa-solid fa-house"></i><span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white m-2" href="">Mens Fasion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white m-2" href="">Womens Fasion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white m-2" href="">Kids Fasion</a>
                    </li>
                    <form class="form-inline my-lg-0 m">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light  my-sm-0" type="submit">Search</button>
                    </form>
                    
                    {% if request.user.is_authenticated and user.is_staff != 1 %}
                    <li class="nav-item">
                        <a class="nav-link text-white m-2 " href="{% url 'view_cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white m-2" href="{% url 'view_order' %}">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white m-2" href="{% url 'view_profile' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white m-2" href="{% url 'signout' %}">logout</a>
                    </li>
                    
                    {% else %}
                   
                    
                    <li class="nav-item">
                        <a class="btn btn-danger m-2" href="{% url 'signin_page' %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger text-white m-2" href="{% url 'signup_page' %}">Sign Up</a>
                    </li>
                    {% endif %}
                    
                   
                </ul>

            </div>
        </nav>

      
   
    

</header>


    {% block content %}
            
    {% endblock %}
    <div class="footer bg-dark text-white">
<div class="container">
<div class="row p-5 ">
    <div class="col-md-3 font-weight-light">
        <h5>Get to Know Us</h5>
        <h6>About ECom</h6>
        <h6>Careers</h6>
        <h6>ECom Science</h6>
    </div>
    <div class="col-md-3">
        <h5>Shop with Us</h5>
        <h6>Your Account</h6>
        <h6>Your Orders</h6>
        <h6>Your Addresses</h6>
        <h6>Your Lists</h6>
    </div>
    <div class="col-md-3">
        <h5>Make Money with Us</h5>
        <h6>Protect and build your brand</h6>
        <h6>Sell on ECom</h6>
        <h6>Fulfillment by ECom</h6>
        <h6>Become an Affiliate</h6>
        <h6>Advertise Your Products</h6>
    </div>
    <div class="col-md-3">
        <h5>Let Us Help You</h5>
        <h6>Help</h6>
        <h6>COVID-19 and Amazon</h6>
        <h6>Shipping & Delivery</h6>
        <h6>Returns & Replacements</h6>
        <h6>Amazon App Download</h6>
    </div>
</div> 

</div>
</div>
</body>
</html>