{% extends 'main.html' %}

{% block content %}
{% load static %}

<div class="sidebar fixed-top" style="z-index: 0;">
    <a href="">Help</a>
    <div class="">
    <a href="{% url 'more_products_page' %}">All Categories</a>
    </div>
    {% for c in cats %}
    <div class="">
        <a class="active" href="{% url 'category_page' c.id %}"> {{ c.category_name }}</a>
    </div>
    {% endfor %}
   


</div>

<div class="index-body" style="padding-top: 100px;">




    <div class=" container py-4">

        <h2 class="heading text-center pt-5 text-dark">FEATURED FOR YOU</h2>
        <h4 class="text-secondary text-center pb-5">Give Yourself a Budget makeover</h4>

        <div class="row">
            {% for i in product|slice:":8" %}
            <div class="col-md-3">

                <div class="card border-0">
                    <a href="{% url 'product_detail' i.id %}"><img class="card-img-top" src="{{ i.product_image.url }}"
                            alt="Card image cap"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-dark">{{ i.product_name }}</h5>
                        <p class="card-text text-dark">{{ i.product_description }}</p>
                        <p class="card-text text-dark">Rs.{{ i.product_price }}</p>
                        <a href="{% url 'add_cart' i.id %}" class="btn btn-warning btn-sm pbtn mb-2">Add to Cart</a>
                        <a href="{% url 'add_order' i.id %}" class="btn btn-success btn-sm pbtn mb-2">Buy Now</a>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>





    </div>
    <div class="">
        <div class=" ">
            <img class="img-fluid m-auto py-4 w-100" src="{% static 'images/19.jpg' %}" alt="" width="97%">
        </div>
    </div>


    <style>
        body {
            margin-top: 0;
        }

        .sidebar {
            margin-top: 7.5rem;
            padding: 0;
            width: 250px;
            background-color: #316770;
            height: 100%;
            overflow: auto;
            
        }

        .sidebar a {
            display: block;
            color: rgb(252, 252, 252);
            padding: 15px;
            text-decoration: none;
        }

      
        .sidebar a:hover {
            background-color: rgb(24, 51, 62);
            color: white;
        }

        @media screen and (max-width: 700px) {
            .sidebar {
                margin-top: 0;
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
            }

            div.content {
                margin-left: 0;
            }
        }

        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }

    </style>



    {% endblock %}