{% extends 'main.html' %}

{% block content %}

<div class="index-body" style="padding-top: 80px;">

    <html lang="en">

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>E-Commerce</title>
        <link rel="icon" href="{% static 'images/icon.png' %}" type="image/icon type">

        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/ca2474264d.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div id="demo" class="carousel slide pt-4" data-ride="carousel">

            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/home1.jpg' %}" alt="Los Angeles" width="100%">
                    <div class="carousel-caption">
                    </div>

                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/home2.jpg' %}" alt="Chicago" width="100%">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/home3.jpg' %}" alt="New York" width="100%">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>



        </div>

        <marquee width="80%" behavior="" direction="">
            <div class="container">
                <div class="card-deck my-3">
                    <div class="card ">
                        <img class="card-img-top" src="{% static 'images/ms1.jpg' %}" alt="Card image">
                        <div class="card-img-overlay">
                            <a href="#" class="btn stretched-link"></a>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top" src="{% static 'images/ms2.jpg' %}" alt="Card image">
                        <div class="card-img-overlay">
                            <a href="#" class="btn stretched-link"></a>
                        </div>
                    </div>
                    <div class="card ">
                        <img class="card-img-top" src="{% static 'images/ms3.jpg' %}" alt="Card image">
                        <div class="card-img-overlay">
                            <a href="#" class="btn stretched-link"></a>
                        </div>
                    </div>

                </div>
            </div>
        </marquee>


        <div class="container-fluid my-3">
            <h2 class="heading text-center my-4 text-dark">CATEGORIES</h2>


            <div class="card-deck">
                {% for c in category %}
                <div class="card">
                    <img class="card-img-top " src="{{ c.category_image.url }}" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">{{ c.category_name }}</h4>
                        <a href="{% url 'category_page' c.id %}" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>


        <div class="part2 container py-4">
            <h2 class="heading text-center pt-5 text-dark">FEATURED TODAY</h2>
            <h4 class="text-secondary text-center pb-5">Your Daily Brand Edit</h4>

            <div class="row">
                {% for i in product|slice:":8" %}
                <div class="col-md-3">

                    <div class="card border-0" style="width: 12rem;">
                        <a href="{% url 'product_detail' i.id %}"><img class="card-img-top"
                                src="{{ i.product_image.url }}" alt="Card image cap"></a>
                        <div class="card-body text-center">
                            <h5 class="card-title ">{{ i.product_name }}</h5>
                            <p class="card-text ">{{ i.product_description }}</p>
                            <p class="card-text ">Rs.{{ i.product_price }}</p>
                            <a href="{% url 'add_cart' i.id %}" class="btn btn-warning pbtn mb-2">Add to Cart</a>
                            <a href="{% url 'add_order' i.id %}" class="btn btn-success pbtn">Buy Now</a>



                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>
            <div class="text-center my-5">
                <a href="{% url 'more_products_page' %}" class="btn btn-dark ">MORE PRODUCTS</a>
            </div>

            <style>
                .pbtn {
                    font-size: 2vh;
                    width: 7rem;
                }
            </style>
        </div>

    </body>

    </html>
</div>
{% endblock %}