{% extends 'user/usertop.html' %}
{% block content %}
{% load static %}

<style>
     html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("{% static 'images/bg4.webp' %}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    div.part3 {
        height: calc(100% - <height_of_navigation_bar>);
        /* Add any other styles you need for div.part3 */
    }
</style>

<div class="index-body part3" style="padding-top: 100px;">

    <div class="container mt-5 align-items-center">
<div class="card bg-transparent border-0">
        <form class="form" method="post" action="/edit_address/{{ customer.id }}">
            {% csrf_token %}
            <label for="">Edit Your Address</label>
            <input type="text" name="address" class="form-control " value="{{ customer.address}}" style="width: 40rem;">
           

            <button type="submit" class="btn btn-dark mt-3 " >Submit</button>
        </form>
    </div>
    </div>

</div>

{% endblock %}