{% extends 'user/usertop.html' %}
{% block content %}
{% load static %}

<style>
      html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("{% static 'images/bg4.webp' %}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    div.part3 {
        height: calc(100% - <height_of_navigation_bar>);
        /* Add any other styles you need for div.part3 */
    }
</style>

<div class="index-body part3" style="padding-top: 100px;">

    <div class="container mt-5">


        {% for i in order %}



        <div class="row  border">
            <div class="col-md-4 p-2">
                <img src=" {{ i.product.product_image.url }}" alt="" width="150rem">
            </div>
            <div class="col-md-4 p-2 mx-auto pt-5">
                <h3 class="text-dark">{{ i.product.product_name }}</h3>
                    <h5 class="text-dark">{{ i.product.product_description }}</h5>
                    <h5 class="text-dark">Rs.{{ i.product.product_price }}</h5>
               <div class="text-center">
            </div>
            </div>
            <div class="col-md-4 p-2 text-right d-flex align-items-center  ">
                <a href="#" class="btn btn-success m-2 " style="width: 8rem;">Buy Again</a><br>
            </div>
        </div>

        {% endfor %}





    </div>

</div>

{% endblock %}