{% extends 'user/usertop.html' %}

{% block content %}
{% load static %}


<html>
    <head>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/ca2474264d.js" crossorigin="anonymous"></script>

    </head>

    <style>
      div.part3{
      /* background-color: rgb(237, 253, 187); */
      background-image: url("{% static 'images/bg4.webp' %}");
      background-size: 100% 100%;
      height: 100%;
      }
  </style>


<body >
    
<div class="part3 pb-5">
<div class=" container index-body text-dark pb-5" style="padding-top: 150px;">

    <h2 class="text-dark">Hello, <span class="text-dark font-italic">{{customer.first_name }} {{customer.last_name }}</span></h2>
    <h5 class="text-dark">Address :{{customer.address }}</h5>
   

      <div class="row row-cols-2 g-3 py-5">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a class="text-dark" href="{% url 'view_order' %}"><h5 class="text-dark card-title">
                        Your Orders
                        </h5> </a>                 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-dark">
                        Gift Cards
                        </h5>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-dark">
                        Amazon Mobile App  
                        </h5>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-dark">
                        Your Address
                        </h5>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-dark">
                        Login & security
                        </h5>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">                 
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-dark">
                        Your Payments
                        </h5>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>






</div>
</div>

<style>
    .fbtn{
        width: 300px;
        border-radius: 30px;
        background-color: rgb(144, 179, 179);
        color: white;
    }
    i{
        width: 100px;
    }
</style>
</body>
</html>
{% endblock %}