{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("{% static 'images/bg4.webp' %}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    div.part3 {
        height: calc(100% - <height_of_navigation_bar>);
        /* Add any other styles you need for div.part3 */
    }
</style>
<div class="index-body" style="padding-top: 100px;">

<div class="container ">
    {% for message in messages %}
    <h5>
        <div class="alert alert-danger " style="width: 50%;">
            {{ message }}
        </div>
    </h5>
    {% endfor %}
</div>
<div class="main container bg-dark  mt-5" style="border-radius: 10px; width:50%">
    <h1 class="text-white  text-center pt-5" >Register Here</h1>

    <form action="{% url 'create_user' %}" method="post" enctype="multipart/form-data" class="form py-3 mx-auto text-white my-5" style="width:80% ; ">
        {% csrf_token %}
        <label class="mt-3" for="">First Name</label>
        <input type="text" name="first_name" class="form-control " placeholder="First Name">
        <label class="mt-3" for="">Last Name</label>
        <input type="text" name="last_name" class="form-control " placeholder="Last Name">
        <label class="mt-3" for="">Email</label>
        <input type="email" name="email" class="form-control " placeholder="Email">
        <label class="mt-3" for="">Username </label>
        <input type="text" name="username" class="form-control " placeholder="Username">
        <label class="mt-3" for="">Password</label>
        <input type="password" name="password" class="form-control " placeholder="Strong Password">
        <label class="mt-3" for="">Confirm Password</label>
        <input type="password" name="cpassword" class="form-control " placeholder="Confirm Password">
        
        <label class="mt-3" for="">Address</label>
        <textarea rows="3" cols="22" name="address" class="form-control  " placeholder="Address"></textarea>

        <label class="mt-3" for="">Phone Number</label>
        <input type="number" name="phone_number" class="form-control  " placeholder="Phone Number">
        <div class="text-center">
        <button type="submit" class="btn btn-info text-white rounded-pill  mt-5" style="width: 10rem; ">Submit</button>
    </div>
        <br>
        <p class='text-muted text-center mt-2'>Already a Member? <a class="" href="{% url 'signin_page' %}">Login</a></p>
    </form>
</div>

</div>
<style>
     
</style>

{% endblock %}